<!DOCTYPE html>

<html>
    <head>
        <title>Page index</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Bienvenu</h1>
    </body>
</html>