<!DOCTYPE html>

<html>
    <head>
        <title>Page index</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Welcome !!!</h1>

        <a href="/contenu">
        	<button>Voir contenu tableau</button>
        </a>

        <form method="post" action="/ajouter">
            <p>
                <label for="nom">Nom : </label>
                <input type="text" name="nom" id="nom">
            </p>

            <p>
                <label for="prenom">Prénom : </label>
                <input type="text" name="prenom" id="prenom">
            </p>

            <input type="submit" value="Enregistrer">
        </form>
    </body>
</html>